<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JNLunarCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E65DF19C1E25FB15001070C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65DF1B21E25FB16001070C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65DF1BD1E25FB16001070C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
